@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
    
}


h2{

    font-size:40px;
    line-height:80px;
    color:#222;
    text-align: center;
}

h4{

    font-size:20px;
    color:#222;
   line-height: 0.4;
   text-align: center;    
}

body{
    width:100%;
}
#header
{
    filter:brightness(1);
    display: flex;
    justify-content:space-between;
   align-items: center;
   padding:5px 30px;
  background: linear-gradient(90deg, rgba(255, 222, 89, 0.5), rgba(255, 145, 77, 0.5)); 
    box-shadow: 0px 5px 15px rgba(23, 23, 23, 0.8);
    z-index:6;
    position:sticky;
    left:0;
    top:0;
}
#navbar{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

#navbar li
{
    list-style: none;
    padding:0 45px;
    position:relative;
}
#navbar li a
{
    text-decoration: none;
    font-style:16px;
    font-weight: 600;
    color:black;
    transition:0.1s ease;
}

#navbar  li a:hover,
#navbar  li a.active{

    color:#f7b800;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width:20%;
    height:2px;
    background: #f7b800;
    position:absolute;
    bottom:-4px;
    left: 46px;
    
}
.logo {
    display: block;
    width: 150px; /* Spécifiez la largeur souhaitée */
    height: auto; /* La hauteur sera ajustée de manière proportionnelle */
  }
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5px 0px;
    background-color: rgba(255, 145, 77, 0.0);
    color: black;
    border: none;
    
  }

  .btn img {
    margin-right:5px;
    width: 40px; 
    height: 40px; 
  }

/*home page*/
#hero
{
 background: linear-gradient(90deg, rgba(255, 222, 89, 0.5), rgba(255, 145, 77, 0.5));
 height:72vh; 
 width:100%;
background-size: cover;
 padding:0 80px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content:space-evenly;
 }
#hero h4{
    padding-bottom: 15px;
    
}
#hero h2{
    color:#171718;
    line-height: 1.2;

}
#hero button{
    
    padding: 10px 40px;
    float: left;
    border-radius: 30px;
    cursor: pointer;
    font-size: 25px;
    color:white; 
    text-decoration: none;
    background-color: black;
    font-weight: bold;
    transition: all 0.1s;
    -webkit-transition: all 0.1s
}
button:active{
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
    border-bottom: 1px solid;

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
      

}

.btn,#mobile button{
    font-size : 14px;
    padding:15px 30px;
    color: black;
    background-color:rgba(255, 145, 77, 0.1);
    border-radius: 30px;
    cursor:pointer;
    transition:  0.1s linear ;
    -webkit-transition: all 0.1s;
    font-weight: bold;
    cursor:pointer;
    
}

